@font-face {
font-family: 'BYekan';
src: url('../fonts/BYekan.eot');
src: url('../fonts/BYekan.woff') format('woff'), url('../fonts/BYekan.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
*,body,html {
font-family:tahoma;
}
input,li,ul,select,textarea,#gf_merge_tag_list a{
font-family:tahoma !important;
}
#toplevel_page_gf_edit_forms a,#toplevel_page_gf_edit_forms .wp-menu-name,.newform_notice,.gatewayset p,.gatewayset td,h1,h2,h3,h4,h5,h6,h2 span,h3 span,label,#no-fields span,.group-header,#gf_form_toolbar a,.gform_tabs a,td a,td a strong,td strong a,th,.add-new-h2,.button,.stat b,.gresults-chart-wrapper *,div.gresults-results-filter-section-label,div.gresults-results-field-label,#gresults-results td,#gresults-results th,#gresults-results tr{
font-family:BYekan !important;
font-weight:normal !important;
}
.field_type li input,.add-buttons-title{
font-size:12px !important;
font-family:BYekan !important;
}
h4,h5,h6 {
font-size:16px !important;
}
.group-header {
font-size:16px !important;
font-weight:normal !important;
}
.row-title,#toplevel_page_gf_edit_forms .wp-menu-name,.newform_notice{
font-size:16px !important;
}
a.gf_toolbar_active ,.gform_tabs a,label{
font-size:13px !important;
}
div.gf_entry_detail_pagination {
top:-10px !important;
}
#TB_ajaxContent,#TB_title {
text-align:right !important;
}
#gresults-results{
margin-right:0px !important;
margin-left:300px !important;
}
div#gf_nofield_1_instructions, div#gf_nofield_2_instructions, div#gf_nofield_3_instructions, div#gf_nofield_4_instructions, div#gf_nofield_5_instructions {
    background-image: url("../images/Gravity_Forms_fa.png") !important;
}
.gf_nofield_3_instructions_copy_bottom {
margin-left:-163px !important;
}
.gf_nofield_4_instructions_copy_bottom {
margin-top:13px !important;
margin-left:-220px !important;
}
#gf_user_form .left_header ,.metaname , .metavalue{
float:right !important;
}
.gf_dashboard_form_title_header{
text-align:right !important;
}
.gf_dashboard_view td i{
font-style:normal !important;
font-family:byekan !important;
}